---
layout: default
---

<div class="home">

  <h1 class="page-heading">Stuff</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <br>
        <span class="post-link">
          {% if post.super == "official" %}
            <img src="/img/profile1.jpg" class="post-link-profile" alt="Super Official"> 
          {% else %}
            <img src="/img/profile0.jpg" class="post-link-profile" alt="Super Unofficial">
          {% endif %}
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </span>
        <span class="post-caption">{{ post.caption }}</span>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
